@import './styles/theme.css';

html,
body {
  height: 100%;
}

#root {
  height: 100%;
  min-height: 0;
}

body {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
